<h1>Home Page</h1>

<% @messages.each do |message| %>
  <div class="message">
	   <small>(by: <a href="/messages/<%= message.id %>"><%= message.author %>)</a></small></h3>
    <p>
      <a href="/messages/new">Post a message... It's FREE (for now)!</a>
      <%= message.content %>
    </p>
  </div>
<% end %>